@import "./base";

.cleaning-prod-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h3,
  h2 {
    @include pageHeader;
  }

  .cleaning-prod {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; // Increase the gap for better spacing
  }
}
