@import "./base";

.gallery-container {
  h1 {
    @include pageHeader;
  }
  p {
    color: $white;
    text-align: center;
    padding: 10px 40px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    @media (min-width: 1024px) {
      font-size: 1.2rem;
      margin: auto;
      padding: 20px 60px;
    }
  }
}
