@import "./base";

.home-container {
  width: 80%;
  margin: auto;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  img {
    max-height: 90vh;
    @media (min-width: 1024px) {
      width: 50vw;
    }
  }
  p {
    color: $white;
    font-family: "Roboto", sans-serif;
  }
}
